{% extends "layout.html" %}

{% block content %}
<form action="/editar_comenta/{{comentar.0}}" method="post">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="correo" class="form-label">Escribe aqui tu correo electronico</label>
                      <input type="text" class="form-control" name="correo" id="correo" placeholder="nombre@ejemplo.com" value="{{comentar.1}}">
                </div>
                <div class="mb-3">
                      <label for="comentarios" class="form-label">Escribe tu mensaje</label>
                      <input type="text" class="form-control" name="comentarios" id="comentarios" value="{{comentar.2}}"></input>
                </div>
                </div>
          </div>
    </div>
          <button type="submit" class="btn btn-primary">Actualizar</button>
</form>

{% endblock %}